<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">基本信息</div>
    <div style="padding: 10px 0 20px 10px;">
        <h3>&nbsp;&nbsp;&nbsp;黑山猪介绍</h3>
        <ul>
            <li>黑山猪是以野生山猪为父本,松辽黑猪为母本培育出来的优良品种。</li>
            <li>外形圆润，体质结实，头部大小适中，耳朵微直，颜面直，颈部长短适中，毛色纯黑喜运动，肌肉发达。</li>
            <li>生产周期为9－12个月，牧养可以增加猪的活动量，增加它的肌肉，使它的口感更加好</li>
            <li>饲养时间是市场普通猪和育肥猪的2.5-3倍。</li>
        </ul>

        <h3>&nbsp;&nbsp;&nbsp;生长环境</h3>
        <ul>
            <li>生活在太行山的原始生态山林为黑山猪提供了天然食物 ——橡子。</li>
            <li>此外，黄芪、黄芩、山五味子、益母草等36种天然有益草药是它们的配餐，嫩芽、昆虫、溪水与露珠是它们闲游中的零食。</li>
            <li>无论春夏秋冬，黑山猪都可以在这片纯净的领域自由的寻找着美味和尽情的嬉闹。</li>
        </ul>

        <h3>&nbsp;&nbsp;&nbsp;食用价值</h3>
        <ul>
            <li>其肉质细腻，口感香醇，富有弹性，营养价值高，深受广大消费者喜爱。</li>
            <li>肉是用目前我国发现的肌肉脂肪含量最高、肉质最好的猪肉品种</li>
            <li>猪是在自然环境下放养，具有耐粗饲，抗病，无药残，无激素，无抗生素等特点。</li>
            <li>其性味甘咸平，含有丰富的蛋白质及脂肪、碳水化合物、钙、磷、铁等成分。具有补虚强身，滋阴润燥、丰肌泽肤的作用。</li>
            <li>凡病后体弱、产后血虚、面黄赢瘦者，皆可用之作营养滋补之品。</li>
        </ul>
    </div>
</div>
</body>
</html>